body {
    display: block;
    text-align: center;
}
a:link {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
    color: red;
}